{% extends 'imagersite/base.html' %}
{% block somecontent %}
<div>
  <div class="col-sm-6 col-md-4">
    <a class="lightbox" href="{{ album.cover_photo.file.url }}">
      <img src="{{ album.cover_photo.file.url }}">
    </a>
  </div>    
</div>  
{% for photo in photos %}
<div class="col-sm-6 col-md-4">
  <a class="lightbox" href="{% url 'detail_photo' photo.id  %}">
    <img src="{{ photo.file.url }}">
  </a>
<div id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color:black"; href="{% url 'edit_album'  album.id %}">Edit Album</a>
        </li>
    </ul>
</div>  
{% endfor %}
{% endblock %}