{% extends 'imagersite/base.html' %}
{% block somecontent %}
<div>
    {% for photo in photos %}
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% url 'detail_photo' photo.id  %}">
            <img src="{{ photo.file.url }}">
        </a>
    </div>    
    {% endfor %}
    {% for album in albums %}
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% url 'detail_album' album.id %}">
            <img src="{{ album.cover_photo.file.url }}">
        </a>
    </div>    
    {% endfor %}    
 </div>   
{% endblock %}