{% extends 'imagersite/base.html' %}

{% block somecontent %}
<div>
    <ul style="list-style: none;">
        <li>User: {{ profile.user.username }}</li>
        <li>Phone Number {{ profile.phone_number }}</li>
        <li>Website {{ profile.website}}</li>
        <li>Location {{ profile.location }}</li>
        <li>Price {{ profile.fee }}</li>
        <li>bio {{ profile.bio }}</li>
        <li>Services {{ profile.services }}</li>
        <li>Photo Styles {{ profile.photo_style }}</li>
    </ul>
    {% for photo in photos %}
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{{ photo.file.url }}">
            <img src="{{ photo.file.url }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}